*:focus {
	outline: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(207, 76, 66);
    font-family: 'TmonMonsori', 'Black Han Sans', 'Noto Sans KR', sans-serif;
    text-align: center;
}
.result {
    width: 50%;
    margin: 30px auto;
    border: 3px solid rgb(236, 196, 136);
    text-align: center;
}
.result h1 {
    margin: 70px 35px 50px 35px;
    color: rgb(236, 196, 136);
}

.info_cnt {
    margin-top: 0;
    margin-bottom: 40px;
}
.cnt {
    margin: 0 70px;
    display: inline-block;
}
.cnt h2 {
    margin-bottom: 0;
    font-size: 40px;
    color: rgb(104, 180, 171);
}
.cnt p {
    margin-top: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(236, 196, 136);
}
hr {
    width: 70%;
    border: 1.5px dashed rgba(236, 196, 136, 0.8);
}

.graph {
    margin-top: 60px;
}
.graph h2 {
    margin: 0 60px 10px 60px;
    color: rgba(255, 255, 255, 0.7);
}
.graph img {
    width: 65%;
    height: auto;
    margin-bottom: 40px;
    padding: 0;
}

.rec_list {
    margin-top: 40px;
}
.rec_list h3 {
    margin: 30px 60px;
    color: rgba(255, 255, 255, 0.7);
}

.rec_wrap {
    margin: 30px 60px;
}
.rec_wrap h4 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: rgb(236, 196, 136);
}

.list {
	column-width: 80%;
	column-gap: 15px;
}
.list-content {
	margin: 10px 15px 10px 10px;
	vertical-align: top;
	text-align: left;
	display: inline-block;
}
.list-wrapper {
	width: 174px;
	height: 250px;
	margin: 0;
	padding: 0;
	border: 1px solid rgba(236, 196, 136, 0.9);
	display: inline-block;
	overflow: hidden;
}
.poster_img {
	width: auto;
	height: 260px;
	object-fit: cover;
}
.poster_img:hover {
	cursor: pointer;
	transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transition: transform .4s;
	-o-transition: transform .4s;
	-moz-transition: transform .4s;
	-ms-transform: transform .4s;
	-webkit-transition: transform .4s;
}
.list h5 {
	max-width: 175px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 16px;
	text-align: left;
	color: rgb(236, 196, 136);
}

/* main - modal 상세 정보 */
.modal {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	position: fixed;
	overflow: auto;
	z-index: 10;
}
.modal-content {
	width: 50%;
	max-height: calc(100vh - 250px);
	overflow-y: auto;
	margin: auto;
	padding: 30px 50px;
	background-color: rgb(207, 76, 66);
	border: 1px solid rgb(236, 196, 136);
}
.close {
	float: right;
	font-size: 2.85vw;
	font-weight: bold;
	color: rgba(236, 196, 136, 0.4);
	z-index: 15;
}
.close:hover, .close:focus {
	color: rgb(236, 196, 136);
	text-decoration: none;
	cursor: pointer;
	z-index: 15;
}

/* main - modal 영화 내용 */
.detail {
	font-family: 'Noto Sans KR', sans-serif;
	color: rgba(255, 255, 255, 0.8);
}
.detail h1 {
	margin-bottom: 0;
	font-family: 'TmonMonsori', 'Noto Sans KR', sans-serif;
	color: rgb(236, 196, 136);
}
.detail h5 {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-family: 'TmonMonsori', 'Noto Sans KR', sans-serif;
    font-weight: lighter;
    color: rgb(236, 196, 136);
}
.poster {
	margin: 5px;
    padding: 5px;
    top: 100px;
    right: -30px;
    position: relative;
    float: right;
    vertical-align: middle;
}
.poster img {
	width: 153px;
	height: auto;
	border: 1px solid rgb(236, 196, 136);
	object-fit: cover;
}
.poster a {
	top: 37%;
    right: 33%;
	text-align: center;
	text-decoration: none;
	color: rgb(104, 180, 171);
	position: absolute;
	z-index: 11;
}
.poster i {
	font-size: 48px;
	color: rgb(104, 180, 171);
	z-index: 11;
}
.poster i:hover {
	color: rgb(207, 76, 66);
}

/* main - modal 영화 정보 및 줄거리 */
.info_spec {
	max-width: 60%;
}
.content {
	color: rgb(236, 196, 136);
	font-family: 'TmonMonsori', 'Noto Sans KR', sans-serif;
	font-size: 19px;
}
.content i {
	font-size: 19px;
}
.content p {
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
}

/* scroll */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(70, 140, 132, 0.3);
}
::-webkit-scrollbar-thumb {
	background: rgb(70, 140, 132);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(236, 196, 136, 0.8);
}

/* footer */
.footer {
	width: 100%;
	margin-top: 50px;
	left: 0;
	bottom: 0;
	background-color: rgb(70, 140, 132);
	text-align: center;
	overflow: hidden;
}
.footer-ul {
	list-style: none;
	margin: 20px 15px;
	padding: 0;
	position: relative;
	display: block;
}
.footer-li {
	padding: 0;
	line-height: 24px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	color: #fff;
	display: block;
}
.footer-li img {
	width: 140px;
	height: auto;
}

/* header - 미디어쿼리 */
@media screen and (max-width: 1225px) {
    .cnt {
        margin: 0 50px;
    }
}
@media screen and (max-width: 993px) {
    .cnt {
        margin: 0 40px;
    }
}
@media screen and (max-width: 864px) {
    .cnt {
        margin: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .cnt {
        margin: 0 20px;
    }
    .cnt h2 {
        font-size: 32px;
    }
    .cnt p {
        font-size: 14px;
    }
    .footer-ul {
		margin: 10px;
	}
	.footer-li {
		line-height: 18px;
		font-size: 11px;
	}
	.footer-li img {
		display: none;
	}
	.footer-li i {
		font-size: 11px;
	}
}
@media screen and (max-width: 615px) {
    .result {
        width: 70%;
    }
    .result h1 {
        margin: 70px 35px 40px 35px;
        font-size: 26px;
    }
    .cnt {
        margin: 0 10px;
    }
    .graph h2 {
        font-size: 20px;
    }
    .list-wrapper {
        width: 120px;
        height: 171px;
    }
    .poster_img {
        width: auto;
        height: 180px;
    }
}