<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <title>철수와 영화</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var member_no = $("#member_no").val();
            if (member_no == 1) {
                $("#btn_host1").css("display", "block");
                $("#btn_host2").css("display", "block");
                $("#btn_host1").attr("href", "dashboard");
                $("#btn_host2").attr("href", "faqboard");
            }
            if (window.sessionStorage) {
                window.sessionStorage.setItem("member_no", member_no);
            }
            if (window.sessionStorage) {
                memberno = window.sessionStorage.getItem("member_no");
            }
            $("#logout").click(function() {
                if (window.sessionStorage) {
                    window.sessionStorage.setItem("member_no", 0);
                }
                location.href="http://192.168.219.186:8089/controller/start.jsp";
            });
            $(window).scroll(function() {
                if($(this).scrollTop() > $("#header").height()) {
                    $("#navbar").addClass("sticky");
                    $("#dropdown-content").css("top", "0");
                    $("#btn_top").css("display", "block");
                }
                else {
                    $("#navbar").removeClass("sticky");
                    $("#dropdown-content").css("top", $("#header").height()-$(this).scrollTop()+60);
                    $("#btn_top").css("display", "none");
                }
            });
            $(".btn-menu").click(function(){
                $("#sidebar").css("width", "140px");
                $("#icon-close").css("display", "block");
            });
            $("#icon-close").click(function(){
                $("#sidebar").css("width", "0");
            });
            $("#btn_top").click(function(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            });

            // 좋아요 없으면 취향 분석 페이지 아이콘 보이지 않기
            $.ajax({url: "http://192.168.219.186:8089/controller/goodlist?member_no="+member_no, success: function(data) {
                g_arr = eval("("+data+")");
                if (g_arr.length == 0) {
                    $(".btn_eval").css("display", "none");
                    $(".eval_close").css("display", "none");
                }
            }});
            // 취향 분석 페이지 아이콘 닫기
            $("#eval_close").click(function() {
                $(".btn_eval").css("display", "none");
                $(".eval_close").css("display", "none");
            });
        });
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/board.css')}}">
</head>
<body>
    <header>
        <div id="header" class="header">
            <a href="http://192.168.219.186:8089/controller/main?member_no={{member_no}}"><img src="{{url_for('static', filename='img/logo_finish_2.svg')}}"></a>
        </div>
        <nav id="navbar" class="navbar">
            <div class="navbar-logo">
                <a href="http://192.168.219.186:8089/controller/main?member_no={{member_no}}"><img src="{{url_for('static', filename='img/logo_nav_finish.svg')}}"></a>
            </div>
            <div class="navbar-list">
                <a href="http://192.168.219.186:8089/controller/main?member_no={{member_no}}"><i class="fas fa-home"></i>&nbsp;&nbsp;누리-집</a>
                <a href="http://192.168.219.186:8089/controller/list?member_no={{member_no}}"><i class="material-icons">movie_filter</i>&nbsp;&nbsp;영화-목록</a>
                <div class="dropdown">
                    <button class="dropbtn">☆{{member_nickname}}☆&nbsp;&nbsp;<i class="fas fa-sort-amount-down" style="font-size: 16px;"></i></button>
                    <div id="dropdown-content" class="dropdown-content">
                        <a href="http://192.168.219.186:8089/controller/updateMember?member_no={{member_no}}"><i class="fas fa-pen"></i>&nbsp;&nbsp;정보-고침</a>
                        <a href="board?member_no={{member_no}}"><i class="fas fa-thumbtack"></i>&nbsp;&nbsp;알림-판</a>
                        <a href="http://192.168.219.186:8089/controller/start.jsp" id="logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;접속-해지</a>
                    </div>
                </div>
            </div>
            <div class="searchbar">
                <form action="http://192.168.219.186:8089/controller/search" method="POST">
                    <input type="text" name="search" placeholder="검색">
                </form>
            </div>
        </nav>
        <button class="btn-menu"><i id="icon-menu" class="fas fa-bars"></i></button>
        <div id="sidebar" class="sidebar">
            <i id="icon-close" class="fas fa-times"></i>
            <a href="http://192.168.219.186:8089/controller/main?member_no={{member_no}}"><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;누리-집</a>
            <a href="http://192.168.219.186:8089/controller/list?member_no={{member_no}}"><i class="fas fa-heart"></i>&nbsp;&nbsp;&nbsp;영화-목록</a>
            <a href="http://192.168.219.186:8089/controller/updateMember?member_no={{member_no}}"><i class="fas fa-pen"></i>&nbsp;&nbsp;&nbsp;정보-고침</a>
            <a href="board?member_no={{member_no}}"><i class="fas fa-thumbtack"></i>&nbsp;&nbsp;&nbsp;&nbsp;알림-판</a>
            <a href="http://192.168.219.186:8089/controller/start.jsp"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;접속-해지</a>
        </div>
    </header>

    <main>
        <input type="hidden" id="member_no" name="member_no" value="{{member_no}}">
        <div class="main">
            <h2>알림-판<a id="btn_host1" class="btn_host" target="_blank"><i class="fas fa-sign-in-alt" style="color: rgb(236, 196, 136);"></i></a></h2>
            {% for l in list %}
                <button class="accordion">{{l.title}}
                    <i id="chevron-down" class="fas fa-chevron-down" style="font-size: 20px; color: rgb(236, 196, 136); float: right;"></i>
                    <i id="chevron-up" class="fas fa-chevron-up" style="font-size: 20px; color: rgb(236, 196, 136); float: right; display: none;"></i>
                </button>
                <div class="panel"><p>{{l.content}}</p></div>
            {% endfor %}

            <h2>질문-모음집<a id="btn_host2" class="btn_host" target="_blank"><i class="fas fa-sign-in-alt" style="color: rgb(236, 196, 136);"></i></a><</h2>
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'question')">자주 묻는 질문</button>
                <button class="tablinks" onclick="openTab(event, 'login')">로그인 / 회원가입</button>
                <button class="tablinks" onclick="openTab(event, 'contents')">컨텐츠 문의</button>
                <button class="tablinks" onclick="openTab(event, 'service')">서비스 문의</button>
            </div>
            <div id="question" class="tabcontent">
                {% for f in faq %}
                    {% if f.kinds == 'question' %}
                        <button class="accordion">{{f.title}}
                            <i id="chevron-down" class="fas fa-chevron-down" style="font-size: 20px; color: rgb(236, 196, 136); float: right;"></i>
                            <i id="chevron-up" class="fas fa-chevron-up" style="font-size: 20px; color: rgb(236, 196, 136); float: right; display: none;"></i>
                        </button>
                        <div class="panel"><p>{{f.content}}</p></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="login" class="tabcontent">
                {% for f in faq %}
                    {% if f.kinds == 'login' %}
                        <button class="accordion">{{f.title}}
                            <i id="chevron-down" class="fas fa-chevron-down" style="font-size: 20px; color: rgb(236, 196, 136); float: right;"></i>
                            <i id="chevron-up" class="fas fa-chevron-up" style="font-size: 20px; color: rgb(236, 196, 136); float: right; display: none;"></i>
                        </button>
                        <div class="panel"><p>{{f.content}}</p></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="contents" class="tabcontent">
                {% for f in faq %}
                    {% if f.kinds == 'contents' %}
                        <button class="accordion">{{f.title}}
                            <i id="chevron-down" class="fas fa-chevron-down" style="font-size: 20px; color: rgb(236, 196, 136); float: right;"></i>
                            <i id="chevron-up" class="fas fa-chevron-up" style="font-size: 20px; color: rgb(236, 196, 136); float: right; display: none;"></i>
                        </button>
                        <div class="panel"><p>{{f.content}}</p></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="service" class="tabcontent">
                {% for f in faq %}
                    {% if f.kinds == 'service' %}
                        <button class="accordion">{{f.title}}
                            <i id="chevron-down" class="fas fa-chevron-down" style="font-size: 20px; color: rgb(236, 196, 136); float: right;"></i>
                            <i id="chevron-up" class="fas fa-chevron-up" style="font-size: 20px; color: rgb(236, 196, 136); float: right; display: none;"></i>
                        </button>
                        <div class="panel"><p>{{f.content}}</p></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;

                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    }
                    else {
                        panel.style.display = "block";
                    }
                });
            }
            function openTab(evt, kinds) {
                var i, tabcontent, tablinks;

                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                document.getElementById(kinds).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
        <div class="btn_eval"><a href="result?member_no={{member_no}}" target="_blank"><i class="fa fa-heartbeat"></i><p>영희야, 철수 보고싶니?<br>그럼 클릭해봐!</p></a></div>
        <span id="eval_close" class="eval_close">&times;</span>
        <button id="btn_top"><i class="fas fa-arrow-circle-up" style="color: rgba(236, 196, 136, 0.8);"></i></button>
    </main>

    <footer>
        <div id="footer" class="footer">
            <ul class="footer-ul">
                <li class="footer-li"><a href="http://192.168.219.186:8089/controller/main?member_no={{member_no}}"><img src="{{url_for('static', filename='img/logo_nav_finish.svg')}}"></a></li>
                <li class="footer-li">&copy; 철수와 영화 2019</li>
                <li class="footer-li">慧珉庶 (hyeminseo)</li>
            </ul>
        </div>
    </footer>
</body>
</html>